
@{
    ViewBag.Title = "CSBM";
    Layout = "~/Views/Shared/_LayoutHotro.cshtml";
}

<div class="main_title">
    <h2>CHÍNH SÁCH BẢO MẬT</h2>
</div>
<div class="cake_text">
    <div style="color:red"><b>1- Mục đích và phạm vi thu thập thông tin</b></div>
    <p>Thuật ngữ “Thông tin cá nhân” trong Chính Sách này nghĩa là thông tin nhận diện hoặc có khả năng nhận diện danh tính cá nhân của khách hàng. Những loại thông tin cá nhân mà chúng tôi xử lý (có thể khác nhau theo phạm vi quyền hạn dựa trên luật pháp hiện hành) bao gồm:</p>
    <p>Tên công ty, cửa hàng, đơn vị kinh doanh, địa chỉ giao dịch, mã số thuế,Họ Tên, Số CMND, địa chỉ liên lạc,Email, số điện thoại di động, số điện thoại bànChúng tôi luôn thông báo cho khách hàng biết về mục đích cụ thể nếu cần thu thập những thông tin cá nhân của khách hàng trên trang web này, và mọi thông tin đều phải được  khách hàng tự nguyện cung cấp.</p>

    <div style="color:red"><b>2- Phạm vi sử dụng thông tin</b></div>
    <p>
        Thông tin cá nhân thu thập được sẽ chỉ được sử dụng trong nội bộ công ty. Cake Bakery có thể công bố các thông tin cá nhân thu thập từ khách hàng cho bên thứ ba, như các đại lý của chúng tôi, các nhà cung cấp dịch vụ khác nhằm cung cấp dịch vụ tốt nhất cho khách hàng.
        Khi cần thiết, chúng tôi có thể sử dụng những thông tin này để liên hệ trực tiếp với khách hàng dưới các hình thức như: gửi thư ngỏ, đơn đặt hàng, thư cảm ơn, thông tin về khuyến mãi và dịch vụ mới…Cake Bakery sẽ nỗ lực để đảm bảo rằng các nhân viên, cán bộ, đại lý, tư vấn hoặc bên thứ ba nào được đề cập ở trên có liên quan đến việc thu thập và xử lý thông tin khách hàng sẽ nhận thức và thấu hiểu Chính sách bảo mật này.
    </p>

    <div style="color:red">
        <b>3- Thời gian lưu trữ thông tin</b>
    </div>
    <p>
        Cake Bakery sẽ lưu trữ các thông tin cá nhân do khách hàng cung cấp trên các hệ thống nội bộ của chúng tôi trong quá trình cung cấp dịch vụ cho khách hàng hoặc cho đến khi hoàn thành mục đích thu thập hoặc khi khách hàng có yêu cầu hủy các thông tin đã cung cấp.</p>

        <div style="color:red"><b>4- Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</b></div>
    <p>
        Công Ty TNHH Thiết Kế Web
        15/2 Đường B1, Cộng Hoà, Phường 13, Quận Tân Bình, Thành Phố Hồ Chí Minh
        (08) 22 468 357
    </p>

    <div style="color:red"><b> 5- Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình.</b></div>
    <p> Khách hàng muốn chỉnh sửa thông tin cá nhân của mình vui lòng liên hệ bộ phận chăm sóc khách hàng của Cake Bakery theo số hotline (08) 22 166 144</p>

    <div style="color:red"><b> 6- Cam kết bảo mật thông tin cá nhân khách hàng</b></div>
            <p>Cake Bakery sẽ không chia sẻ thông tin của quý khách cho bất kỳ một công ty nào khác ngoại trừ các đại lý, các nhà cung cấp có liên quan đến việc cung cấp dịch vụ cho khách hàng. Trong một vài trường hợp đặc biệt, Cake Bakery có thể bị yêu cầu phải tiết lộ thông tin cá nhân, ví dụ như khi có căn cứ cho việc tiết lộ thông tin là cần thiết để ngăn chặn các mối đe dọa về tính mạng và sức khỏe, hay cho mục đích thực thi pháp luật. Cake Bakery cam kết tuân thủ Đạo luật Bảo Mật và các Nguyên tắc Bảo mật Quốc gia.</p>
    </div>
