@model IEnumerable<DoAnCoSo.Models.DANHMUC>
<div class="list-group">
    @foreach (var item in Model)
    {

        <a style="height:70px" href="@Url.Action("Sptheodanhmuc","Cake",new { id=item.MaDM})" class="list-group-item">
            @item.TenDM
        </a>

    }
</div>