
@{
    ViewBag.Title = "HDMH";
    Layout = "~/Views/Shared/_LayoutHotro.cshtml";
}
<div class="main_title">
    <h2>HƯỚNG DẪN MUA HÀNG</h2>
    <h4>Quý khách có nhu cầu mua hàng, truy cập vào website chúng tôi và làm theo các bước sau đây:</h4>
</div>
<div class="cake_text">
    <div style="color:red"><b>Bước 1: Tài khoản</b></div>
    <p> cần có tài khoản hoặc đăng kí tài khoản trước khi mua hàng nhé.</p>
    <div style="color:red"><b>Bước 2: Tìm sản phẩm</b></div>
    <p>+ Nhập từ khóa sản phẩm vào Thanh tìm kiếm</p>
    <p> + Nhấn vào banner sản phẩm.</p>
    <img src="~/img/sanpham/c1.jpg" width="80" height="50" />
    <p> + Nhấn vào danh mục sản phẩm</p>
    <div style="color:red"><b>Bước 3: Chọn sản phẩm</b></div>
    <p>Sau khi tìm được sản phẩm,bạn có thể làm theo các cách sau:</p>
    <p>+ Giỏ hàng:Để đưa sản phẩm vào giỏ và tiếp tục mua sắm.</p>
    <p> + Mua ngay: Để đặt hàng nhanh.</p>
    <div style="color:red"><b>Bước 4: Mua hàng</b></div>

    <p> + Tại mục Giỏ hàng,bạn kiểm tra lại thông tin đặt hàng</p>
    <p> + Chọn "Mua Hàng" để tiến hành thanh toán.</p>
    <p> + Sẽ có nhân viên gọi lại cho quí khách để xác nhận lại đơn đặt hàng</p>
           
</div>
