
@{
    ViewBag.Title = "HDSD";
    Layout = "~/Views/Shared/_LayoutHotro.cshtml";
}
<div class="main_title">
    <h2><b>HƯỚNG DẪN SỬ DỤNG</b></h2>

    <p>Chào mừng bạn đến với Thỏa thuận người dùng của CakeBakery. Thỏa thuận này bao gồm những quy định và điều khoản chi phối hoạt động của bạn tại website (và các domain phụ khác cùng trỏ về website này). Trước khi đăng ký trở thành thành viên bạn phải chắc rằng đã đọc và chấp nhận tất cả các điều khoản trong Điều khoản sử dụng này của chúng tôi, bao gồm cả Thỏa thuận thành viên và Chính sách Quyền riêng tư.</p>
    <p>Bạn cần đọc và đồng ý với tất các các quy định trong Điều khoản sử dụng này trước khi sử dụng. Nếu không đồng ý với bất cứ quy định nào thì Bạn không nên sử dụng website chúng tôi. Khi đã sử dụng website chúng tôi (đã đăng ký thành công tài khoản) thì có nghĩa là Bạn đã hoàn toàn tự nguyện đồng ý với tất cả các quy định trong Điều khoản sử dụng này.</p>
    <p>Cake Bakery có thể sửa đổi nội dung Điều khoản sử dụng này vào bất cứ thời gian nào. Những thay đổi trong bản thỏa thuận sẽ được thông báo trên website trước thời điểm áp dụng.  Việc thay đổi nội dung của một điều khoản cụ thể không ảnh hưởng đến hiệu lực và tính pháp lý của các điều khoản khác.</p>
</div>
<div class="cake_text">
    <div style="color:red"><p><i>Sử dụng e-mail</i></p></div>
    <p> Khi bạn mua hàng trên website hoặc gửi email cho chúng tôi hoặc nhận email từ chúng tôi, bạn đồng ý rằng các giao dịch và thư tín qua email có giá trị pháp lý như những giao dịch hay thư tín dưới các hình thức khác.</p>
    <p><i>Bản quyền sở hữu trí tuệ</i></p>
    <p> Tất cả nội dung trong website này, bao gồm như không giới hạn ở logo, hình ảnh, đoạn video hay ghi âm, phần mềm, thiết kế mỹ thuật, là tài sản của SunStar (Vietnam) và Goldwell Vietnam, được bảo vệ bởi luật sở hữu trí tuệ Việt Nam và luật quốc tế liên quan.</p>
    <p> Bạn có thể sử dụng nội dung website này vào việc mua sắm và và tìm hiểu thông tin, nhưng không được sử dụng vào bất kỳ mục đích nào khác khi chưa được sự đồng ý bằng văn bản của Cake Bakery</p>
    <div style="color:red"><p><i> Mô tả sản phẩm</i></p></div>
        <p> Chúng tôi luôn cố gắng ở mức cao để mô tả sản phẩm, gồm cả hình ảnh màu sắc, một cách chính xác nhất; tuy nhiên, chúng tôi không đảm bảo rằng nội dung website này không có sơ suất nào, hoặc chính xác như bạn đang mong đợi.</p>
        <p> Thông tin về sản phẩm nhằm mục đích hướng dẫn định hướng và không thể dùng thay thế tư vấn hay khám chữa bệnh của các bác sỹ, hay chuyên gia chuyên ngành trong các trường hợp bệnh lý.</p>
    <div style="color:red"><p><i>Giới hạn trách nhiệm và miễn trách</i></p></div>
        <p> Chúng tôi cung cấp dịch vụ và hàng hóa trên website này theo nguyên tắc sản phẩm y nguyên như bản thân của nó sẵn có.</p>
        <p> Theo nguyên tắc chung của các giao dịch qua Internet, chúng tôi không đảm bảo, theo bất kỳ cách hiểu nào, về tính khả dụng của trang web này hoặc các thông tin, nội dung, sản phẩm ở trong đó. Chúng tôi cũng không đảm bảo rằng trang web này, hệ thống máy chủ của nó, hay các email là không có chứa các virus máy tính.  Chúng tôi không chịu trách nhiệm với bất kỳ thiệt hại nào, trực tiếp, hay gián tiếp phát sinh từ việc sử dụng trang web này, trừ khi Luật pháp hiện hành quy định khác đi.</p>
        <p> Chúng tôi không đảm bảo hàng hóa mua qua trang web này sẽ đáp ứng một mục đích cụ thể nào đó.  Giới hạn trách nhiệm của chúng tôi trong trường hợp sản phẩm không phù hợp chỉ là đổi lại một sản phẩm mới hoặc hoàn lại tiền và các chi phí vận chuyển liên quan tới giao dịch đó.</p>
    <div style="color:red"><p><i> Thông tin tài khoản</i></p></div>
        <p> Nếu bạn sử dụng trang web này, bạn có trách nhiệm bảo mật cho tài khoản của bạn, và bạn đồng ý chịu trách nhiệm cho các giao dịch phát sinh từ tài khoản của bạn, sử dụng password hợp lệ của bạn.</p>
        <p> Chúng tôi không bán hàng cho các cá nhân dưới 16 tuổi.  Chúng tôi giữ quyền từ chối bán hàng, hủy tài khoản, hoặc hủy đơn hàng khi có vi phạm.</p>
    <div style="color:red"><p><i>Tranh chấp và Luật điều chỉnh</i></p></div>
        <p> Tranh chấp, nếu có, phát sinh từ việc giao dịch qua trang web này sẽ được đưa ra giải quyết tại một tòa án thích hợp của thành phố Hà Nội.  Phán quyết của tòa án là cuối cùng và ràng buộc các bên.  Bên thua sẽ chịu án phí.</p>
        <p>Luật điều chỉnh là hệ thống pháp luật hiện hành của nước CHXHCN Việt Nam.</p>
    </div>
