
@{
    ViewBag.Title = "LH";
    Layout = "~/Views/Shared/_LayoutHotro.cshtml";
}

<section class="contact_form_area p_100">
    <div class="container">
        <div class="main_title">
            <h2>LIÊN HỆ</h2>
            <h5>Bạn muốn liên hệ với chúng tôi? </h5>
            <h5>Bạn hãy điền vào form phía dưới,chúng tôi sẽ liên hệ với bạn sớm nhất</h5>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <form class="row contact_us_form" action="http://galaxyanalytics.net/demos/cake/theme/cake-html/contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Tên của bạn">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email ">
                    </div>
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Tiêu đề">
                    </div>
                    <div class="form-group col-md-12">
                        <textarea class="form-control" name="message" id="message" rows="1" placeholder="Bạn muốn đóng góp thêm gì về chúng tôi để chúng tôi dần cải thiện"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <button class="btn order_s_btn form-control" onclick="alert('Cảm ơn bạn đã liên hệ với chúng tôi!')" href="#">Gửi ngay</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 offset-md-1">
                <div class="contact_details">
                    <div class="contact_d_item">
                        <h3>Địa chỉ:</h3>
                        <p>86 Mạc Đĩnh Chi Đa Kao Quận 1 Hồ Chí Minh </p>
                    </div>
                    <div class="contact_d_item">
                        <h5>Số điện thoại : <a href="tel:01372466790">+ (1800) 456 7890</a></h5>
                        <h5>Email : <a href="bichtram2352@gmail.com">bichtram@gmail.com</a></h5>
                    </div>
                    <div class="contact_d_item">
                        <h3>Thời gian hoạt động:</h3>
                        <p>Thứ 2-6 : 8 am - 8 pm</p>
                        <p>Thứ 7   : 9am - 4pm</p>
                        <p>Chủ nhật: Nghỉ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Contact Form Area =================-->
<!--================End Banner Area =================-->
<section class="map_area">
    <div id="mapBox" class="mapBox row m0"
         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7838.597977692398!2d106.696676!3d10.788397!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f34d93dd70f%3A0xc3f38cce3958fba0!2zODYgTeG6oWMgxJDEqW5oIENoaSwgxJBhIEthbywgUXXhuq1uIDEsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2sus!4v1561136185046!5m2!1svi!2sus" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>


