
@{
    ViewBag.Title = "PTVC";
    Layout = "~/Views/Shared/_LayoutHotro.cshtml";
}

<div class="main_title">
    <h2>PHƯƠNG THỨC VẬN CHUYỂN</h2>
    <h4>Cửa hàng chúng tôi có 2 hình thức giao hàng như sau:</h4>
</div>
<div class="cake_text">
    <div style="color:red"><b>Giao hàng tại TP. Hồ Chí Minh</b></div>
    <p>Nhân viên giao hàng của chúng tôi sẽ giao hàng tận nơi trong Thành phố Hồ Chí Minh (trừ huyện Bình Chánh, Củ Chi, Nhà Bè) theo địa chỉ người nhận ghi trong đơn đặt hàng. Sau khi tiếp nhận đơn đặt hàng, chúng tôi sẽ liên lạc qua số điện thoại hoặc email ghi trong đơn đặt hàng để xác thực thông tin người nhận.</p>

    <div style="color:red"><b>Giao hàng tại các Tỉnh thành khác</b></div>

    <p>Nhân viên giao hàng của các đại lý chúng tôi tại các Tỉnh thành sẽ giao hàng trực tiếp đến người nhận.</p>
    <div style="color:red"><b>Trong khoảng thời gian trên mà khách hàng vẫn chưa nhận được hàng xin gọi về số: 01664.867.669 hoặc email:  sẽ tìm hiểu nguyên nhân và sẽ giao hàng cho quý khách trong thời gian sớm nhất.</b></div>

    <p>Các nguyên nhân chậm trễ thường do:</p>
           <p> - Địa chỉ người nhận không chính xác.</p>
           <p> - Không liên hệ được với người nhận hàng.</p>
           <p> - Giao hàng không có người nhận.</p>
    </div>
