
@{
    ViewBag.Title = "TT";
    Layout = "~/Views/Shared/_LayoutHotro.cshtml";
}

<div class="main_title">
    <h2>Tin tức</h2>
</div>
<div class="cake_text">
    <p>Bạn đã từng “mê mẩn” những hương vị bánh ngọt ngào nào chưa?. Sao không thử cùng Cake khuấy động ngày hè sảng khoải cùng hương vị bánh thơm lừng – ngọt ngào đến khó cưỡng ?</p>

    <p>Cake-bakery mời bạn cùng chinh phục hương vị Tiramisu – chiếc bánh được mệnh danh là “hương vị huyền thoại” trong bộ sưu tập bánh Âu. Có lẽ Tiramisu luôn được thực khách dành cho sự ưu ái bởi dư vị ngọt ngào, thanh mát của lớp kem bồng bềnh – beo béo, hết sức mịn màng, và thêm phần cuốn hút với hương thơm nồng nàn của cà phê, lại càng ấn tượng bởi nét đặc trưng với một ít bột cacao rắc nhẹ phía trên mặt bánh. Tất cả đã khiến cho chiếc bánh càng trở nên quyến rũ hơn bao giờ hết và hội đủ đầy hương vị thanh – ngọt – béo – đắng. Thử ngay một miếng – “tan ngay trong miệng”.Chắc hẳn bạn sẽ khó lòng để trái tim thôi ngừng “tan chảy”</p>

    <p>Hay thử đánh thức cảm giác “sảng khoái” cho một ngày hè oi ả với Passsion Cheesse – Chiếc bánh “khó chiều”nhất trong dòng bánh lạnh Brodard, Vì chiếc bánh này luôn đòi hỏi phải dung hòa các vị: Vừa phải giữ được vị thanh chua hài hòa của chanh dây, vừa phải đảm bảo được độ thơm béo của lớp kem phủ, lại phải có thêm chút mịn màng nhưng quan trọng hơn hết là phải làm sao để hòa quyện các sắc vị không ngậy và không ngán. Do đó để một chiếc bánh hoàn hảo ra mắt thật không hề đơn giản chút nào. Mỗi một công đoạn đều phải được chỉnh chu và tỉ mỉ, đảm bảo đủ độ mịn, xốp và thanh mát rất vừa phải. Có lẽ vì thế, mà chiếc bánh xinh xắn này luôn được “săn đón” và chưa bao giờ làm thất vọng những tín đồ “sành bánh”.</p>

    <p>Hơn nữa, giữa cái nóng oi bức, với một lát bánh lạnh vị chanh dây “thanh mát – giải nhiệt” tan ngay đầu lưỡi  – thì còn gì bằng.</p>

    <p>Những chiếc bánh hoàn hảo này sẽ dùng ngon hơn khi được giữ lạnh trong nhiệt độ thích hợp 9oC – 12oC  sẽ giúp bạn quên đi “hơi nóng” ngày hè.</p>

</div>
