<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="~/img/trangchu/fav-icon.png" type="image/x-icon" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Cake - Bakery</title>

    <!-- Icon css link -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/vendors/linearicons/style.css" rel="stylesheet" />
    <link href="~/vendors/flat-icon/flaticon.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Rev slider css -->
    <link href="~/vendors/revolution/css/settings.css" rel="stylesheet">
    <link href="~/vendors/revolution/css/layers.css" rel="stylesheet">
    <link href="~/vendors/revolution/css/navigation.css" rel="stylesheet">
    <link href="~/vendors/animate-css/animate.css" rel="stylesheet">
    <!-- Extra plugin css -->
    <link href="~/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="~/vendors/magnifc-popup/magnific-popup.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />

    

    <link href="~/Content/responsive.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!--================Main Header Area =================-->
    <header class="main_header_area">
        <div class="top_header_area row m0">
            <div class="container">
                <div class="float-left">
                    <a href="tell:+18004567890"><i class="fa fa-phone" aria-hidden="true"></i> + (1800) 456 7890</a>
                    <a href="mainto:info@cakebakery.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> bichtram@cakebakery.com</a>
                </div>
                <div class="float-right">

                    <ul class="h_search list_style">
                        <li class="cart">@Html.Action("GiohangPartial", "Giohang")</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="main_menu_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="~/Cake/Trangchu">
                        <img src="~/img/trangchu/logo.png" alt="">
                        <img src="~/img/trangchu/logo-2.png" alt="">
                    </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="dropdown submenu active">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Trang chủ</a>
                            </li>
                            <li class="dropdown submenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Danh mục</a>
                                <ul class="dropdown-menu">
                                    @Html.Action("danhmuc", "Cake")
                                </ul>
                            </li>
                            <li><a href="~/Cake/TT">Tin tức</a></li>
                            <li class="dropdown submenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hỗ trợ</a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Cake/HDSD">Điều khoản sử dụng</a></li>
                                    <li><a href="~/Cake/HDMH">Hướng dẫn đặt hàng</a></li>
                                    <li><a href="~/Cake/PTVC">Phương thức vận chuyển</a></li>
                                    <li><a href="~/Cake/CSBM">Chính sách bảo mật</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav justify-content-end">
                            <li><a href="~/Cake/GT">Giới thiệu</a></li>
                            <li><a href="~/Nguoidung/Dangnhap">Đăng nhập</a></li>
                            <li><a href="~/Nguoidung/Dangky">Đăng ký</a></li>
                            <li><a href="~/Cake/LH">Liên hệ</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!--================End Main Header Area =================-->
    <!--================Slider Area =================-->
    <section class="main_slider_area">
        <div id="main_slider" class="rev_slider" data-version="5.3.1.6">
            <ul>
                <li data-index="rs-1587" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/img/home-slider/slider-1.jpg" data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/img/home-slider/slider-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>

                    <!-- LAYER NR. 1 -->
                    <div class="slider_text_box">
                        <div class="tp-caption tp-resizeme first_text"
                             data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['175','175','125','165','160']"
                             data-fontsize="['65','65','65','40','30']"
                             data-lineheight="['80','80','80','50','40']"
                             data-width="['800','800','800','500']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                             data-textAlign="['left','left','left','left']">
                            Bánh Cupcake ...<br />
                        </div>

                        <div class="tp-caption tp-resizeme secand_text"
                             data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['345','345','300','300','250']"
                             data-fontsize="['20','20','20','20','16']"
                             data-lineheight="['28','28','28','28']"
                             data-width="['640','640','640','640','350']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-transform_idle="o:1;"
                             data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                            .......chiếc bánh nhỏ xinh, tạo không gian nhiều màu sắc
                        </div>

                        <div class="tp-caption tp-resizeme slider_button"
                             data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['435','435','390','390','360']"
                             data-fontsize="['14','14','14','14']"
                             data-lineheight="['46','46','46','46']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">

                        </div>
                    </div>
                </li>
                <li data-index="rs-1588" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/img/home-slider/slider-2.jpg" data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/img/home-slider/slider-2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="slider_text_box">
                        <div class="tp-caption tp-resizeme first_text"
                             data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['175','175','125','165','160']"
                             data-fontsize="['65','65','65','40','30']"
                             data-lineheight="['80','80','80','50','40']"
                             data-width="['800','800','800','500']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                             data-textAlign="['left','left','left','left']">
                            Bánh kem ...<br />
                        </div>

                        <div class="tp-caption tp-resizeme secand_text"
                             data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['345','345','300','300','250']"
                             data-fontsize="['20','20','20','20','16']"
                             data-lineheight="['28','28','28','28']"
                             data-width="['640','640','640','640','350']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-responsive_offset="on"
                             data-transform_idle="o:1;"
                             data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                            .......chiếc bánh thắp lên niềm hy vọng vào tương lai
                        </div>

                        <div class="tp-caption tp-resizeme slider_button"
                             data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['435','435','390','390','360']"
                             data-fontsize="['14','14','14','14']"
                             data-lineheight="['46','46','46','46']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">

                        </div>
                    </div>
                </li>
                <li data-index="rs-1589" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/image/Trangchu/slider-10.jpg" data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/img/home-slider/slider-10.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="slider_text_box">
                        <div class="tp-caption tp-resizeme first_text"
                             data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['175','175','125','165','160']"
                             data-fontsize="['65','65','65','40','30']"
                             data-lineheight="['80','80','80','50','40']"
                             data-width="['800','800','800','500']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-color="white"
                             data-responsive_offset="on"
                             data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                             data-textAlign="['right','right','right']">Bánh fondant ...<br /></div>

                        <div class="tp-caption tp-resizeme secand_text"
                             data-x="['right','right','right','15','15']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['345','345','300','300','250']"
                             data-fontsize="['20','20','20','20','16']"
                             data-lineheight="['28','28','28','28']"
                             data-width="['640','640','640','640','350']"
                             data-height="none"
                             data-whitespace="normal"
                             data-type="text"
                             data-color="white"
                             data-responsive_offset="on"
                             data-transform_idle="o:1;"
                             data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                            .......chiếc bánh bao trọn niềm yêu thương
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!--================End Slider Area =================-->
    <!--================Welcome Area =================-->
    <section class="welcome_bakery_area">
        <div class="container">
            <div class="welcome_bakery_inner p_100">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="main_title">
                            <h2>Xin chào!</h2>
                            <p>
                                Nói đến bánh kem là nói đến những bữa tiệc sinh nhật.
                                Nhưng theo thời gian, chiếc bánh kem đã có mặt trong rất nhiều sự kiện như: lễ cưới, lễ tân gia, Lễ khởi công, lễ giáng sinh….
                            </p>
                            <p>Vậy bạn có biết làm sao để có được một chiếc bánh kem ngon chưa?</p>
                        </div>
                        <div class="welcome_left_text">
                            <p>Cake-Bakery được ra đời với thông điệp mang đam mê của chúng tôi gửi gắm đến bạn qua những chiếc bánh và chất lượng luôn được đặt lên hàng đầu.</p>
                            <p>Với tiêu chí tạo nên những giá trị tuyệt vời cho quý khách hàng, Cake-Bakery không chỉ chú trọng về chất lượng sản phẩm mà còn chú trọng về mặt thẩm mỹ. Từng công đoạn đều được kiểm định rõ ràng, khâu chuẩn bị nguyên liệu đảm bảo được chất lượng an toàn tuyệt đối. Nguồn trứng, bột, sữa phải được bảo quản trong môi trường đúng chuẩn quy định. Ngoài ra, đội ngũ Đầu Bếp Bánh chuyên nghiệp với phong cách làm việc sáng tạo, nhiệt huyết, tỉ mỉ trong từng thao tác như một nghệ sĩ chuyên nghiệp làm bạn hài lòng.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="welcome_img">
                            <img class="img-fluid" src="~/img/cake-feature/welcome-right.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mane_new_area p_100">
        <div class="container">
            @RenderBody()
        </div>
    </section>
            <!--================End Welcome Area =================-->
            <!--================Client Says Area =================-->
            <section class="client_says_area p_100">
                <div class="container">
                    <div class="client_says_inner">
                        <div class="c_says_title">
                            <h2>Cảm nhận về chúng tôi</h2>
                        </div>
                        <div class="client_says_slider owl-carousel">
                            <div class="item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/client/client-1.png" alt="">
                                        <h3>“</h3>
                                    </div>
                                    <div class="media-body">
                                        <p>Mình đặt bánh nhân ngày nhà giáo. Cửa hàng làm việc chuyên tâm, giao hàng nhanh, bánh được. Bánh nhiều lớp kem, vị được (tùy theo khẩu vị) trang trí thu hút mắt. Mong cửa hàng sẽ phát huy thêm về chất lượng bánh sắp tới. Cảm ơn</p>
                                        <h5>- Thanh Nguyễn</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/client/client-1.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p>Bánh ngon tuyệt vời, có độ ngọt phù hợp, uy tín chất lượng. Các loại bánh rất hợp khẩu vị và đa dạng như bánh phô mai, bánh kem,... Mọi người nên ghé thăm đặt mua ăn thử!</p>
                                        <h5>- Như Trần</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/client/client-1.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p>Bánh kem bắp chỗ này ngon bá cháy. Vị rất thanh, ngọt nhưng không gắt.</p>
                                        <h5>- Hà Nguyễn</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--================End Client Says Area =================-->
            <!--================Service Area =================-->
            <section class="service_area">
                <div class="container">
                    <div class="row row-divided" id="row-698813520">
                        <div class="col medium-4 large-4">
                            <div class="col-inner">
                                <div class="icon-box feature-box icon-box-center text-center">
                                    <div class="icon-box-img" style="width:100%">
                                        <div class="icon">
                                            <img width="200" height="200" src="~/img/trangchu/dichvu.png">
                                        </div>
                                    </div>
                                    <p>=============================</p>
                                    <div class="icon-box-text last-reset">
                                        <h5 class="uppercase">QUÀ TẶNG</h5>
                                        <p style="text-align:center;">Nhiều quà tặng hấp dẫn</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col medium-4 large-4">
                            <div class="col-inner">
                                <div class="icon-box feature-box icon-box-center text-center">
                                    <div class="icon-box-img" style="width:100%">
                                        <div class="icon">
                                            <img width="200" height="200" src="~/img/trangchu/freeship.png" style="align-content:center">
                                        </div>
                                    </div>
                                    <p>=============================</p>
                                    <div class="icon-box-text last-reset">
                                        <h5 class="uppercase">Giao hàng</h5>
                                        <p style="text-align:center">Giao hàng tận nơi, nhanh chóng trong ngày với khu vực nội thành</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col medium-4 large-4">
                            <div class="col-inner">
                                <div class="icon-box feature-box icon-box-center text-center">
                                    <div class="icon-box-img" style="width:100%">
                                        <div class="icon">
                                            <img width="200" height="200" src="~/img/trangchu/nothue.png">
                                        </div>
                                    </div>
                                    <p>=============================</p>
                                    <div class="icon-box-text last-reset">
                                        <h5 class="uppercase">Dịch vụ khách hàng</h5>
                                        <p style="text-align:center">Phục vụ nhiệt tình, chu đáo, với phương châm khách hàng là người được lợi cao nhất</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!--================End Service Area =================-->
            <!--================End Client Says Area =================-->
            <!--================End Client Says Area =================-->
            <!--================Latest News Area =================-->
            <!--================End Latest News Area =================-->
            <!--================Newsletter Area =================-->
            <!--================End Newsletter Area =================-->
            <!--================Footer Area =================-->
            <footer class="footer_area">
                <div class="footer_widgets">
                    <div class="container">
                        <div class="row footer_wd_inner">
                            <div class="col-lg-3 col-6">
                                <aside class="f_widget f_about_widget">
                                    <img src="~/img/trangchu/footer-logo.png" alt="">
                                    <p>Mang đam mê của chúng tôi gửi gắm đến bạn qua những chiếc bánh đầy màu sắc yêu thương.</p>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-6">
                                <aside class="f_widget f_link_widget">
                                    <div class="f_title">
                                        <h3>Giới thiệu</h3>
                                    </div>
                                    <ul class="list_style">
                                        <li><a href="#">Trang Chủ</a></li>
                                        <li><a href="~/Nguoidung/Dangnhap">Đăng Nhập</a></li>
                                        <li><a href="~/Nguoidung/Dangky">Đăng Ký</a></li>
                                        
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-6">
                                <aside class="f_widget f_link_widget">
                                    <div class="f_title">
                                        <h3>Thời gian hoạt động</h3>
                                    </div>
                                    <ul class="list_style">
                                        <li><a href="#">Thứ 2-6 : 8 am - 8 pm</a></li>
                                        <li><a href="#">Thứ 7   : 9am - 4pm</a></li>
                                        <li><a href="#">Chủ nhật: Closed</a></li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-lg-3 col-6">
                                <aside class="f_widget f_contact_widget">
                                    <div class="f_title">
                                        <h3>Vị trí</h3>
                                    </div>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2989954636564!2d106.69448731455495!3d10.788396492313424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f34d93dd70f%3A0xc3f38cce3958fba0!2zODYgTeG6oWMgxJDEqW5oIENoaSwgxJBhIEthbywgUXXhuq1uIDEsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1555513067023!5m2!1svi!2s" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!--================End Footer Area =================-->
            <!--================Search Box Area =================-->
            <!--================End Search Box Area =================-->
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="~/Scripts/jquery-3.2.1.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="~/Scripts/popper.min.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
            <!-- Rev slider js -->
            <script src="~/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
            <script src="~/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
            <script src="~/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
            <script src="~/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
            <script src="~/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
            <script src="~/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
            <script src="~/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
            <!-- Extra plugin js -->
            <script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>
            <script src="~/vendors/magnifc-popup/jquery.magnific-popup.min.js"></script>
            <script src="~/vendors/datetime-picker/js/moment.min.js"></script>
            <script src="~/vendors/datetime-picker/js/bootstrap-datetimepicker.min.js"></script>
            <script src="~/vendors/nice-select/js/jquery.nice-select.min.js"></script>
            <script src="~/vendors/jquery-ui/jquery-ui.min.js"></script>
            <script src="~/vendors/lightbox/simpleLightbox.min.js"></script>
            <script src="~/Scripts/theme.js"></script>
</body>

</html>