
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutGiohang.cshtml";
}

<h2>Đơn hàng của quý khách đã được chúng tôi ghi nhận.Chúng tôi sẽ liên hệ lại quý khách trong thời gian sớm nhất và giao hàng đúng ngày quý khách đã đặt.</h2>

