
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card demo-icons">
                <div class="card-header">
                    <h5 class="card-title">Chào mừng bạn đến với trang chủ giao diện người quản trị</h5>
                    <p></p>
                    <p></p>
                    <p class="card-category">
                        Nơi bạn quản lý tất cả các chức năng trong trang website này.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>